body {
    margin: 0;
    font-family: "Noto Sans", sans-serif;
    font-size: 18px;
}

#setup, #calendar {
    display: none;
}

#setup {
    width: 700px;
    margin: 100px auto;
    text-align: center;
}

#setup h1 {
    margin: 50px 0;
    text-align: center;
}

#setup input {
    font-family: "Noto Sans", sans-serif;
    border: 2px solid #000000;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 1.5em;
    height: 2em;
    width: 200px;
    padding: 10px 25px;
    background: transparent;
    border-radius: 30px;
    outline-style: none;
}

#submit_setup {
    margin: 0 auto;
    border: 2px solid #000000;
    border-radius: 30px;
    padding: 10px 50px 10px 50px;
    font-size: 20px;
    background-color: #FFFFFF;
    cursor: pointer;
    outline-style: none;
}

#submit_setup:hover {
    background-color: #000000;
    color: #FFFFFF;
}

.submit {
    margin: 40px 0;
    text-align: center;
}

#calendar table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    table-layout: fixed;
    margin-bottom: 50px;
}

#table_header {
    height: 50px;
}

tr {
    height: 75px;
}

td {
    border: 1px solid #BBBBBB;
    width: 100px;
}

.year {
    width: 50px;
}

#table_header, .year {
    text-align: center;
    background-color: #EEEEEE;
    font-weight: bold;
}

.month {
    position: relative;
    font-size: 16px;
}

.month.alive {
    padding: 5px 5px 35px 5px;
    height: 100%;
    width: 100%;
}

.dead {
    background-color: black;
    color: #FFFFFF;
    text-align: center;
}

.current {
    background-color: #0074CC;
    color: #FFFFFF;
}

.current-year {
    background-color: #B2CFFF;
}

.add_event, .delete_event {
    visibility: hidden;
    cursor: pointer;
}

.delete_event {
    margin-left: 5px;
    color: #b94a48;
    font-weight: bolder;
}

.add_event {
    position: absolute;
    height: 30px;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #0074CC;
    color: #FFFFFF;
    font-size: 16px;
    border: none;
}

.error {
    color: #b94a48;
}

.event {
    margin: 0px 5px;
}

footer {
    position: fixed;
    width: 100%;
    padding: 10px 0;
    bottom: 0;
    background-color: #FFFFFF;
    border-top: 1px solid #BBBBBB;
    text-align: center;
}